*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 62.5%; /* 10px = 1rem */
}

body {
  font-size: 1.5rem;
  min-height: 100vh;
  margin: 0 auto;
  font-family: "Spartan", sans-serif;
}

main {
  max-width: 144rem;
  margin: 0 auto;
  min-height: 80rem;
  @include flex(column, space-around);

  background-image: url(../img/bg-pattern-top-mobile.svg),
    url(../img/bg-pattern-bottom-mobile.svg);
  background-position: top left, bottom right;
  background-repeat: no-repeat;

  @include media-lg {
    background-image: url(../img/bg-pattern-top-desktop.svg),
      url(../img/bg-pattern-bottom-desktop.svg);
  }
}
